<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
    <script>
        function redirectTo(action) {
            window.location.href = action;
        }
    </script>
</head>
<body>
    <h2>Home page</h2>
    <button type="button" class="registration" onclick="redirectTo('user_registration');">Registration</button>
    <button type="button" class="login" onclick="redirectTo('login');">Login</button>
</body>
</html>
